.container > div {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: #000000;
}

html, body {
background-color: #ffffff;
margin: 10px;
}

.container > div:nth-child(1n) {
background-color: #ffffff;	
}

.container > div:nth-child(3n) {
background-color: #cecece;
}